openapi: 3.2.0
info:
  title: Cracked Runs API
  version: 0.3.0
  description: Discover, inspect and run 67,000+ agent tools from one balance. Agents can register their own workspace at POST https://cracked.ai/v1/agents/register ($1 trial credit, no human needed) and earn $5 of credit for every workspace that signs up through their referral link (GET https://cracked.ai/v1/referrals).
  contact:
    email: support@cracked.ai
servers:
- url: https://cracked.ai/v1
tags:
- name: Runs
paths:
  /runs:
    get:
      summary: Recent runs
      security:
      - bearer: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 100
      responses:
        '200':
          description: Runs
      tags:
      - Runs
      operationId: getRuns
      x-operation-id-source: derived
  /runs/{id}:
    get:
      summary: Get a run (long-poll with ?wait=seconds)
      security:
      - bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: wait
        in: query
        schema:
          type: integer
          maximum: 100
      responses:
        '200':
          description: Terminal run
        '202':
          description: Still running
      tags:
      - Runs
      operationId: getRunsById
      x-operation-id-source: derived
  /runs/{id}/stop:
    post:
      summary: Stop a running job
      security:
      - bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stopped
      tags:
      - Runs
      operationId: postRunsByIdStop
      x-operation-id-source: derived
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: ck_live_ API key or OAuth access token
