openapi: "3.1.0"
info:
  title: Cracked API
  version: "0.3.0"
  description: "Discover, inspect and run 67,000+ agent tools from one balance. Agents can register their own workspace at POST https://cracked.ai/v1/agents/register ($1 trial credit, no human needed) and earn $5 of credit for every workspace that signs up through their referral link (GET https://cracked.ai/v1/referrals)."
  contact:
    email: "support@cracked.ai"
servers:
  - url: "https://cracked.ai/v1"
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: ck_live_ API key or OAuth access token
  schemas:
    Price:
      type: object
      properties:
        type:
          type: string
          enum:
            - PER_CALL
            - PER_RESULT
            - PER_UNIT
            - PER_SUCCESS
          description: "PER_SUCCESS: billed only when the capability's miss predicate is false (misses are free)"
        amount:
          type: number
        flatFee:
          type: number
        unit:
          type: string
        provenance:
          type: object
          description: Where the price came from
          properties:
            source:
              type: string
              enum:
                - pricing_page
                - api_docs
                - observed
                - estimate
            sourceUrl:
              type: string
            checked:
              type: string
              format: date
            confidence:
              type: string
              enum:
                - confirmed
                - list
                - estimate
            note:
              type: string
    Metrics:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - stable
            - degraded
            - outage
            - unknown
        samples:
          type: integer
        successRate:
          type: number
          nullable: true
        medianMs:
          type: integer
          nullable: true
    Endpoint:
      type: object
      properties:
        provider:
          type: string
        providerName:
          type: string
        endpoint:
          type: string
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        category:
          type: string
        price:
          "$ref": "#/components/schemas/Price"
        status:
          type: string
          enum:
            - live
            - needs_key
            - byok_only
        verified:
          type: boolean
        async:
          type: boolean
        metrics:
          "$ref": "#/components/schemas/Metrics"
        score:
          type: number
    Run:
      type: object
      properties:
        runId:
          type: string
        provider:
          type: string
        endpoint:
          type: string
        status:
          type: string
          enum:
            - RUNNING
            - COMPLETED
            - FAILED
            - BLOCKED
            - STOPPED
            - TIMED_OUT
        output: {}
        providerResponse:
          type: object
          properties:
            httpStatus:
              type: integer
              nullable: true
            error:
              type: string
              nullable: true
        price:
          "$ref": "#/components/schemas/Price"
        billing:
          type: object
          properties:
            units:
              type: integer
            providerUsd:
              type: number
            platformFeeUsd:
              type: number
            totalUsd:
              type: number
            byok:
              type: boolean
            balanceAfterUsd:
              type: number
        hints:
          type: object
        createdAt:
          type: string
        completedAt:
          type: string
          nullable: true
    Error:
      type: object
      properties:
        code:
          type: integer
        error:
          type: string
        message:
          type: string
    Batch:
      type: object
      properties:
        batchId:
          type: string
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - failed
            - cancelled
        tool:
          type: string
        provider:
          type: string
          nullable: true
        endpoint:
          type: string
          nullable: true
        capability:
          type: string
          nullable: true
        concurrency:
          type: integer
        total:
          type: integer
        counts:
          type: object
          properties:
            queued:
              type: integer
            running:
              type: integer
            done:
              type: integer
            failed:
              type: integer
            cancelled:
              type: integer
        progressPct:
          type: number
        estimateUsd:
          type: number
        spentUsd:
          type: number
        datasetId:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
        createdAt:
          type: string
        completedAt:
          type: string
          nullable: true
        hints:
          type: object
    Schedule:
      type: object
      properties:
        scheduleId:
          type: string
        name:
          type: string
        cron:
          type: string
          nullable: true
        every:
          type: string
          nullable: true
        timezone:
          type: string
        tool:
          type: string
        input:
          type: object
        dataset:
          type: string
          enum:
            - append
            - replace
        datasetId:
          type: string
          nullable: true
        enabled:
          type: boolean
        disabledReason:
          type: string
          nullable: true
        nextRunAt:
          type: string
          nullable: true
        lastRunAt:
          type: string
          nullable: true
        lastStatus:
          type: string
          nullable: true
        lastError:
          type: string
          nullable: true
        consecutiveFailures:
          type: integer
        fireCount:
          type: integer
        misfires:
          type: integer
        hints:
          type: object
paths:
  "/discover":
    post:
      summary: Search tools in natural language
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                limit:
                  type: integer
                  maximum: 40
                minScore:
                  type: number
                liveOnly:
                  type: boolean
                includeUnavailable:
                  type: boolean
                category:
                  type: string
                provider:
                  type: string
      responses:
        "200":
          description: Ranked endpoints
          content:
            "application/json":
              schema:
                type: object
                properties:
                  query:
                    type: string
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Endpoint"
  "/inspect":
    post:
      summary: Schema, price, health and docs for one endpoint
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - provider
                - endpoint
              properties:
                provider:
                  type: string
                endpoint:
                  type: string
      responses:
        "200":
          description: Endpoint details including input JSON Schema
        "404":
          description: Not found
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Error"
  "/run":
    post:
      summary: Execute an endpoint
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - provider
                - endpoint
              properties:
                provider:
                  type: string
                endpoint:
                  type: string
                input:
                  type: object
                wait:
                  type: boolean
                  default: true
                webhook_url:
                  type: string
                  format: uri
                stream:
                  type: boolean
                  default: false
                  description: Answer with text/event-stream events queued, routed, progress, fallback, result, error (see /docs/streaming)
                maxLatencyMs:
                  type: integer
                  description: "Smart runs only: skip candidates whose measured 7-day p95 exceeds this many ms"
                max_cost_usd:
                  type: number
                  description: "Waterfall capabilities only: total budget for the run in USD, provider prices plus fees, verification included (default 1.00). 402 MAX_COST_EXCEEDED when no candidate fits."
                prefer:
                  type: array
                  items:
                    type: string
                  description: "Waterfall: provider ids to try first, in order"
                exclude:
                  type: array
                  items:
                    type: string
                  description: "Waterfall: provider ids never to try"
                verify:
                  type: boolean
                  description: "email-find: run email-verify on the found address inside the same budget"
                waterfall:
                  type: boolean
                  default: true
                  description: "false = stop at the first answer even when it is a miss"
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
          description: "Same key + same body from the same workspace within 24 h returns the original run with replayed: true and charges nothing; a different body is 409 IDEMPOTENCY_MISMATCH"
      responses:
        "200":
          description: Finished run (text/event-stream when stream is true). Headers X-Cracked-Run-Id and X-Cracked-Cost-Micros on every run response.
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Run"
        "202":
          description: Async run started
        "402":
          description: Insufficient balance or no key (carries a PAYMENT-REQUIRED header, x402 v2; retry with PAYMENT-SIGNATURE to pay per call in USDC), or MAX_COST_EXCEEDED on a waterfall run whose max_cost_usd fits no candidate (the body names the cheapest option).
        "409":
          description: "PAYMENT_REPLAY: that x402 payment was already used; IDEMPOTENCY_MISMATCH: Idempotency-Key reused with a different body"
        "429":
          description: Rate limited
        "503":
          description: Provider not enabled (run BLOCKED, not billed)
  "/runs":
    get:
      summary: Recent runs
      security:
        - bearer: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
      responses:
        "200":
          description: Runs
  "/runs/{id}":
    get:
      summary: "Get a run (long-poll with ?wait=seconds)"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: wait
          in: query
          schema:
            type: integer
            maximum: 100
      responses:
        "200":
          description: Terminal run
        "202":
          description: Still running
  "/runs/{id}/stop":
    post:
      summary: Stop a running job
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Stopped
  "/wallet/balance":
    get:
      summary: Balance
      security:
        - bearer: []
      responses:
        "200":
          description: Balance in USD
  "/wallet/activities":
    get:
      summary: Ledger
      security:
        - bearer: []
      responses:
        "200":
          description: Ledger rows
  "/refunds":
    get:
      summary: Refunds on this workspace (automatic and under review) with the policy
      security:
        - bearer: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 200
      responses:
        "200":
          description: Refund rows
  "/x402":
    get:
      summary: "Agent payment terms (x402 v2): networks, payTo, minimum, headers, example. No auth."
      responses:
        "200":
          description: Terms
  "/referrals":
    get:
      summary: Referral link and earnings
      security:
        - bearer: []
      responses:
        "200":
          description: Referral stats
  "/relay":
    post:
      summary: "Relay: perform an HTTPS call server-side with {{secret:NAME}} substituted from the workspace vault (https only, private hosts refused, 10 MB, 60 s; platform fee only; see /docs/relay)"
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - url
              properties:
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                    - HEAD
                    - OPTIONS
                  default: GET
                url:
                  type: string
                headers:
                  type: object
                  additionalProperties:
                    type: string
                body:
                  description: string as-is, object or array as JSON
                bodyEncoding:
                  type: string
                  enum:
                    - text
                    - base64
                secretRefs:
                  type: object
                  additionalProperties:
                    type: string
                  description: "extra headers with {{secret:NAME}} templates"
                timeoutMs:
                  type: integer
                  minimum: 1000
                  maximum: 60000
                tag:
                  type: string
      responses:
        "200":
          description: "Upstream status, headers (no set-cookie), body (text or base64), json when JSON, bytes, elapsedMs, redirects, url {host,path}, secretsUsed, runId, billing"
        "400":
          description: RELAY_BAD_REQUEST or RELAY_REFUSED (private/local host)
        "404":
          description: RELAY_SECRET_NOT_FOUND
        "429":
          description: RELAY_RATE_LIMITED
        "502":
          description: RELAY_DNS, RELAY_CONNECT, RELAY_TOO_LARGE, RELAY_TOO_MANY_REDIRECTS
        "504":
          description: RELAY_TIMEOUT
  "/relay/{url}":
    get:
      summary: "Relay shorthand: any method on /v1/relay/https://host/path; caller headers forwarded, X-Relay-<Name> becomes <Name> upstream"
      security:
        - bearer: []
      parameters:
        - name: url
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Same body as POST /relay
  "/relay/env":
    post:
      summary: "Mint a 10-minute single-use token naming vault secrets, for cracked env run (the values reach the CLI machine; see /docs/relay#env)"
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - names
              properties:
                names:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        "200":
          description: token, expiresAt, names
        "429":
          description: ENV_TOKEN_RATE_LIMITED
  "/relay/env/exchange":
    post:
      summary: Exchange an env token once for its values (same workspace key required; audited)
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        "200":
          description: names, values, expiresAt
        "410":
          description: ENV_TOKEN_USED or ENV_TOKEN_EXPIRED
  "/secrets":
    get:
      summary: "Secrets vault: names, lengths and usage (values are never returned)"
      security:
        - bearer: []
      responses:
        "200":
          description: "count, secrets[]"
    post:
      summary: "Store or replace one secret (write-only, AES-256-GCM at rest); name [A-Z][A-Z0-9_]{1,63}"
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - name
                - value
              properties:
                name:
                  type: string
                value:
                  type: string
                  maxLength: 16384
      responses:
        "200":
          description: replaced
        "201":
          description: created
  "/secrets/import":
    post:
      summary: "Import a .env text: credential-looking lines are stored, configuration-looking ones reported as skipped (?all=1 stores everything); names only in the response"
      security:
        - bearer: []
      requestBody:
        content:
          "text/plain":
            schema:
              type: string
          "application/json":
            schema:
              type: object
              properties:
                env:
                  type: string
                all:
                  type: boolean
      responses:
        "200":
          description: "stored[], replaced[], skipped[{name,reason}], invalid[]"
  "/secrets/{name}":
    get:
      summary: "One secret's metadata"
      security:
        - bearer: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: meta
    delete:
      summary: Delete a secret
      security:
        - bearer: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: deleted
  "/auth/whoami":
    get:
      summary: Identity behind the token
      security:
        - bearer: []
      responses:
        "200":
          description: Workspace
  "/batches":
    post:
      summary: "Create a batch: one tool over up to 5,000 inputs, with a cost preview and balance check (402 when short). dry_run:true returns the preview only."
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - inputs
              properties:
                provider:
                  type: string
                endpoint:
                  type: string
                capability:
                  type: string
                inputs:
                  type: array
                  maxItems: 5000
                  items:
                    type: object
                concurrency:
                  type: integer
                  minimum: 1
                  maximum: 8
                  default: 2
                cache:
                  type: boolean
                webhook_url:
                  type: string
                  format: uri
                name:
                  type: string
                dry_run:
                  type: boolean
      responses:
        "200":
          description: Cost preview (dry_run)
        "202":
          description: Batch queued
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Batch"
        "402":
          description: Balance does not cover the estimate
    get:
      summary: Recent batches
      security:
        - bearer: []
      responses:
        "200":
          description: Batches
  "/batches/{id}":
    get:
      summary: "Batch progress: counts, spend so far, dataset id"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Batch
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Batch"
  "/batches/{id}/items":
    get:
      summary: "Items of a batch (filter by status, cursor = last seq)"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - queued
              - running
              - done
              - failed
              - cancelled
        - name: cursor
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
      responses:
        "200":
          description: Items with nextCursor
  "/batches/{id}/cancel":
    post:
      summary: "Cancel a batch: queued items dropped (never billed), running items finish"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Batch
        "409":
          description: Batch already finished
  "/apps":
    get:
      summary: "Cracked Apps: public listing sorted by runs in the last 7 days (?q= filters; ?mine=1 / ?installed=1 with a key)"
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - weekly
              - installs
              - new
              - name
      responses:
        "200":
          description: Apps
    post:
      summary: "Publish or update an app from its JSON definition (slug, name, description, inputs, steps, output, maxCostUsd, visibility, price_type, price_usd). preview:true validates and estimates at zero cost."
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - slug
                - name
                - description
                - steps
              properties:
                slug:
                  type: string
                name:
                  type: string
                description:
                  type: string
                version:
                  type: string
                inputs:
                  type: object
                steps:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      capability:
                        type: string
                      tool:
                        type: string
                      input:
                        type: object
                      forEach:
                        type: string
                      maxCostUsd:
                        type: number
                      continueOnError:
                        type: boolean
                output: {}
                maxCostUsd:
                  type: number
                sample:
                  type: object
                visibility:
                  type: string
                  enum:
                    - public
                    - unlisted
                    - private
                price_type:
                  type: string
                  enum:
                    - free
                    - per_run
                price_usd:
                  type: number
                preview:
                  type: boolean
                preview_input:
                  type: object
      responses:
        "200":
          description: Updated or preview
        "201":
          description: Created
        "400":
          description: INVALID_APP
        "409":
          description: APP_SLUG_TAKEN
  "/apps/{slug}":
    get:
      summary: One app with its definition, price breakdown and public receipt
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App
        "404":
          description: APP_NOT_FOUND
    delete:
      summary: Delete an app (owner only)
      security:
        - bearer: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
  "/apps/{slug}/run":
    post:
      summary: "Run an app: every step is a billed run (source app:<slug>); paid apps add the app price on success (70% to the builder). Returns output, receipt {steps, runIds, toolCostUsd, appPriceUsd, totalUsd} and links.run."
      security:
        - bearer: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                input:
                  type: object
                tag:
                  type: string
      responses:
        "200":
          description: Result with receipt
        "402":
          description: INSUFFICIENT_FUNDS
        "404":
          description: APP_NOT_FOUND
  "/apps/{slug}/install":
    post:
      summary: "Install: the app shows on /app/apps and as the MCP tool app_<slug>"
      security:
        - bearer: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Installed
    delete:
      summary: Uninstall
      security:
        - bearer: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Removed
  "/apps/{slug}/receipt":
    post:
      summary: "Owner only: publish one app run's receipt on the app page ({appRunId} or null to clear)"
      security:
        - bearer: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App
  "/apps/runs/{id}":
    get:
      summary: "One app run of this workspace: input, output, receipt"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App run
        "404":
          description: APP_RUN_NOT_FOUND
  "/schedules":
    post:
      summary: "Create a scheduled run (5-field cron in UTC, or every: 5m/1h/1d). Each fire appends to (or replaces) the schedule dataset."
      security:
        - bearer: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                cron:
                  type: string
                  example: "0 9 * * *"
                every:
                  type: string
                  example: "1h"
                provider:
                  type: string
                endpoint:
                  type: string
                capability:
                  type: string
                input:
                  type: object
                webhook_url:
                  type: string
                  format: uri
                dataset:
                  type: string
                  enum:
                    - append
                    - replace
                  default: append
      responses:
        "201":
          description: Schedule
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Schedule"
    get:
      summary: Schedules
      security:
        - bearer: []
      responses:
        "200":
          description: Schedules
  "/schedules/{id}":
    get:
      summary: Get a schedule
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule
    patch:
      summary: Update a schedule (enabled pauses/resumes; cron, every, input, webhook_url, dataset, name)
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                cron:
                  type: string
                  nullable: true
                every:
                  type: string
                  nullable: true
                input:
                  type: object
                webhook_url:
                  type: string
                  nullable: true
                dataset:
                  type: string
                  enum:
                    - append
                    - replace
                enabled:
                  type: boolean
      responses:
        "200":
          description: Schedule
    delete:
      summary: "Delete a schedule (dataset kept unless ?dataset=delete)"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: dataset
          in: query
          schema:
            type: string
            enum:
              - delete
      responses:
        "200":
          description: Deleted
  "/datasets":
    get:
      summary: Datasets in this workspace
      security:
        - bearer: []
      responses:
        "200":
          description: Datasets
  "/datasets/{id}":
    get:
      summary: "Read a dataset: json (paged by cursor=seq), csv (flattened one level) or ndjson"
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum:
              - json
              - csv
              - ndjson
            default: json
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
        - name: cursor
          in: query
          schema:
            type: integer
        - name: download
          in: query
          schema:
            type: integer
            enum:
              - 1
      responses:
        "200":
          description: Rows (application/json, text/csv or application/x-ndjson)
    delete:
      summary: Delete a dataset and its rows
      security:
        - bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
  "/providers":
    get:
      summary: Full registry with live status and health
      responses:
        "200":
          description: Providers and endpoints
