openapi: 3.2.0
info:
  title: Cracked Datasets API
  version: 0.3.0
  description: Discover, inspect and run 67,000+ agent tools from one balance. Agents can register their own workspace at POST https://cracked.ai/v1/agents/register ($1 trial credit, no human needed) and earn $5 of credit for every workspace that signs up through their referral link (GET https://cracked.ai/v1/referrals).
  contact:
    email: support@cracked.ai
servers:
- url: https://cracked.ai/v1
tags:
- name: Datasets
paths:
  /datasets:
    get:
      summary: Datasets in this workspace
      security:
      - bearer: []
      responses:
        '200':
          description: Datasets
      tags:
      - Datasets
      operationId: getDatasets
      x-operation-id-source: derived
  /datasets/{id}:
    get:
      summary: 'Read a dataset: json (paged by cursor=seq), csv (flattened one level) or ndjson'
      security:
      - bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - csv
          - ndjson
          default: json
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
      - name: cursor
        in: query
        schema:
          type: integer
      - name: download
        in: query
        schema:
          type: integer
          enum:
          - 1
      responses:
        '200':
          description: Rows (application/json, text/csv or application/x-ndjson)
      tags:
      - Datasets
      operationId: getDatasetsById
      x-operation-id-source: derived
    delete:
      summary: Delete a dataset and its rows
      security:
      - bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
      tags:
      - Datasets
      operationId: deleteDatasetsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: ck_live_ API key or OAuth access token
